$additional-font: "\"Playfair Display\", \"Georgia\", serif";
$decorative-font: "\"Intro Script R H2 Base\", \"Georgia\", serif";

$page-font-color: #2d2829;

$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1366px)";
