.fillings {
  position: relative;

  margin-top: 19px;
}

.fillings__inner {
  position: relative;
  z-index: 1;

  margin: 0 auto;
  padding: 0 0 12px;
  overflow: hidden;

  list-style: none;
}

.fillings__items {
  @include ul-reset();

  position: relative;
  z-index: 1;

  box-sizing: content-box;
  display: flex;
  width: 100%;
  height: 100%;

  transition-property: transform;
}

@media #{$tablet-width} {
  .fillings__inner {
    width: 440px;
  }
}

@media #{$desktop-width} {
  .fillings {
    margin-top: 40px;
  }

  .fillings__inner {
    width: 697px;
  }
}
